! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true

rofi.color-active: #002b37, #008ed4, #002b37, #003642, #008ed4
rofi.color-normal: #002b37, #819396, #002b37, #003642, #819396
rofi.color-urgent: #002b37, #da4281, #002b37, #003642, #da4281 #273238, #394249, #ff1844
rofi.color-window: #002b37, #002b37, #003642

rofi.font: Source Code Pro 12
rofi.eh: 2
rofi.hide-scrollbar: true
rofi.lines: 10
rofi.line-margin: 10
rofi.opacity: 90
rofi.padding: 10
rofi.separator-style: solid
rofi.width: 40

! URXVT Theme
URxvt*cursorBlink: true
URxvt*matcher.button: 1
URxvt*perl-ext-common: default,matcher,selection-to-clipboard
URxvt*scrollBar: false
URxvt*url-launcher: /usr/bin/google-chrome-stable

URxvt.background: [80]#000000
URxvt.depth: 32
URxvt.cursorColor: #d0d0d0
URxvt.font: xft:Source Code Pro:size=10
URxvt.foreground: #d0d0d0
URxvt.letterSpace: -1


! Molokai theme
URxvt.color0: #101010
URxvt.color1: #960050
URxvt.color2: #66aa11
URxvt.color3: #c47f2c
URxvt.color4: #30309b
URxvt.color5: #7e40a5
URxvt.color6: #3579a8
URxvt.color7: #9999aa
URxvt.color8: #303030
URxvt.color9: #ff0090
URxvt.color10: #80ff00
URxvt.color11: #ffba68
URxvt.color12: #5f5fee
URxvt.color13: #bb88dd
URxvt.color14: #4eb4fa
URxvt.color15: #d0d0d0
