snippet importMetalJSX
	import Component, {Config} from 'metal-jsx';

	class ${1:MyComponent} extends Component {
		render() {
			return (

			);
		}
	}

	${1:MyComponent}.PROPS = {

	};

	export default ${1:MyComponent};
endsnippet
